In [1]:
# import lib
import pandas as pd

In [2]:
# read the dataset
df = pd.read_excel("./datamaster.xlsx", sheet_name="2014")
# Show dataset
df

,No,Provinsi,Luas_Areal_2014,Produktiv_2014,Produksi_2014,Jumlah_Petani,Areal_Perkebunan_Rakyat,Areal_Perkebunan_Pemerintah,Areal_Perkebunan_Swasta,Tanaman_Imature,Tanaman_Mature,Tanaman_Damage
0,1.0,Aceh,1.016501e+05,683.0,28015.088000,128989.0,101576.0,NaN,74.0,32199.0,41040.0,28411.0
1,2.0,Sumatera Utara,6.563900e+04,740.0,19379.754463,65423.0,63243.0,270.0,2126.0,34898.0,26192.0,4549.0
2,3.0,Sumatera Barat,1.569977e+05,816.0,56675.045928,119631.0,155241.0,NaN,1757.0,69520.0,69467.0,18010.0
3,4.0,Riau,7.156440e+03,695.0,2952.473503,14075.0,4407.0,NaN,2749.0,1497.0,4250.0,1409.0
4,5.0,Kepulauan Riau,5.000000e+00,333.0,0.753441,97.0,5.0,NaN,NaN,2.0,2.0,1.0
5,6.0,Jambi,2.220000e+03,583.0,485.969132,5751.0,2220.0,NaN,NaN,861.0,833.0,526.0
6,7.0,Sumatera Selatan,1.045469e+04,791.0,3118.324533,12528.0,10455.0,NaN,NaN,5106.0,3943.0,1406.0
7,8.0,Kepulauan Bangka Belitung,7.098800e+02,477.0,116.666781,648.0,710.0,NaN,NaN,331.0,244.0,135.0
8,9.0,Bengkulu,1.342100e+04,728.0,4615.576593,20633.0,13421.0,NaN,NaN,3954.0,6343.0,3124.0
9,10.0,Lampung,7.203200e+04,801.0,34689.488111,118331.0,71404.0,20.0,608.0,13984.0,43287.0,14761.0
10,11.0,DKI Jakarta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12.0,Jawa Barat,9.546130e+03,514.0,2509.111557,19371.0,6391.0,203.0,2952.0,2660.0,4882.0,2004.0
12,13.0,Banten,7.582309e+03,708.0,2414.270938,7393.0,7139.0,NaN,443.0,2521.0,3412.0,1649.0
13,14.0,Jawa Tengah,7.572381e+03,604.0,1924.535073,26381.0,6582.0,6.0,985.0,3315.0,3188.0,1069.0
14,15.0,DI. Yogyakarta,5.087950e+03,406.0,1038.625284,27864.0,5088.0,NaN,NaN,2179.0,2559.0,350.0
15,16.0,Jawa Timur,5.107179e+04,854.0,24870.684916,83995.0,35680.0,12313.0,3079.0,13730.0,29137.0,8204.0
16,17.0,Bali,1.448440e+04,641.0,4960.484824,57987.0,14470.0,14.0,NaN,3064.0,7738.0,3682.0
17,18.0,Nusa Tenggara Barat,7.992980e+03,442.0,1351.672283,9802.0,7993.0,NaN,NaN,3055.0,3058.0,1880.0
18,19.0,Nusa Tenggara Timur,5.252030e+04,584.0,11580.876449,78594.0,52147.0,NaN,373.0,22100.0,19832.0,10588.0
19,20.0,Kalimantan Barat,1.147700e+04,551.0,2007.165531,12320.0,11477.0,NaN,NaN,5133.0,3644.0,2700.0
20,21.0,Kalimantan Tengah,9.871600e+02,531.0,163.195215,1045.0,987.0,NaN,NaN,568.0,307.0,112.0
21,22.0,Kalimantan Selatan,6.950000e+02,294.0,65.549325,1049.0,695.0,NaN,NaN,157.0,223.0,315.0
22,23.0,Kalimantan Timur,9.514000e+03,707.0,3053.694406,7677.0,9514.0,NaN,NaN,2640.0,4321.0,2553.0
23,24.0,Kalimantan Utara,9.992000e+03,895.0,5380.318715,7837.0,9992.0,NaN,NaN,2477.0,6009.0,1506.0
24,25.0,Sulawesi Utara,1.789555e+04,673.0,4582.884598,20168.0,16821.0,292.0,783.0,7753.0,6815.0,3328.0
25,26.0,Gorontalo,1.422163e+04,853.0,2890.307467,14651.0,14222.0,NaN,NaN,8056.0,3389.0,2777.0
26,27.0,Sulawesi Tengah,2.914495e+05,908.0,161468.985326,184720.0,291445.0,NaN,4.0,60387.0,177732.0,53330.0
27,28.0,Sulawesi Selatan,2.501748e+05,802.0,118329.000000,278625.0,246223.0,NaN,3952.0,27492.0,147593.0,75090.0
28,29.0,Sulawesi Barat,1.683910e+05,854.0,72037.370469,143031.0,168391.0,NaN,NaN,26332.0,84357.0,57702.0
29,30.0,Sulawesi Tenggara,2.541083e+05,852.0,125078.549290,165195.0,254108.0,NaN,NaN,38447.0,146874.0,68787.0
30,31.0,Maluku,3.013447e+04,594.0,9680.326733,34075.0,26878.0,2053.0,1203.0,6024.0,16294.0,7817.0
31,32.0,Maluku Utara,3.300110e+04,683.0,10378.507470,25334.0,33001.0,NaN,NaN,9983.0,15202.0,7817.0
32,33.0,Papua,3.859000e+04,480.0,8937.036400,30003.0,33590.0,NaN,5000.0,9718.0,18618.0,10254.0
33,34.0,Papua Barat,1.066150e+04,555.0,3661.387127,9102.0,10662.0,NaN,NaN,1242.0,6594.0,6594.0
34,NaN,Indonesia,1.727437e+06,21632.0,728413.679881,1732325.0,1686178.0,15171.0,26088.0,421385.0,907379.0,402440.0

In [15]:
# select data only Aceh
df_aceh = df[df["Provinsi"] == "Aceh"]

# Show dataset
df_aceh

,No,Provinsi,Luas_Areal_2014,Produktiv_2014,Produksi_2014,Jumlah_Petani,Areal_Perkebunan_Rakyat,Areal_Perkebunan_Pemerintah,Areal_Perkebunan_Swasta,Tanaman_Imature,Tanaman_Mature,Tanaman_Damage
0,1.0,Aceh,101650.06,683.0,28015.088,128989.0,101576.0,NaN,74.0,32199.0,41040.0,28411.0

In [16]:
# select data only Maluku
df_maluku = df[df["Provinsi"] == "Maluku"]

# Show dataset
df_maluku

,No,Provinsi,Luas_Areal_2014,Produktiv_2014,Produksi_2014,Jumlah_Petani,Areal_Perkebunan_Rakyat,Areal_Perkebunan_Pemerintah,Areal_Perkebunan_Swasta,Tanaman_Imature,Tanaman_Mature,Tanaman_Damage
30,31.0,Maluku,30134.47,594.0,9680.326733,34075.0,26878.0,2053.0,1203.0,6024.0,16294.0,7817.0